.app-content {
  text-align: center;
  width: 100%;

  .main {
    margin-top: 130px;
    .logo {
      font-size: 20px;
    }
    .search {
      width: 90%;
      display: inline-block;
    }
    .result {
      width: 90%;
      display: inline-block;
    }
    .loading {
      left: 0;
      top: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
    }
  }

}
