<div class="chapter">
    <div class="page-header">
      <p>{{chapter.title}}</p>
    </div>
    <div class="content">
      <article
        [ngStyle]="{'font-size': fontSize + 'px'}"
        class="inner"
        [innerHTML]="chapter.content">
      </article>
    </div>

    <div class="page-config" *ngIf="pageConfig">
      <header class="header">
        <a href="javascript:" class="header-back" (click)="goBack()">
            <i class="anticon anticon-left"></i>
        </a>
      </header>

      <div class="page-option" >
          <div class="read-set-font" *ngIf="pageSetting">
              <i class="novel novel-font-down"></i>
              <nz-slider
                [nzMin]="12"
                [nzMax]="30"
                [(ngModel)]="fontSize"
                (ngModelChange)="changeFontSize($event)">
              </nz-slider>
              <i class="novel novel-font-up"></i>
          </div>
          <div class="read-set-font" *ngIf="progressSet">
              <a href="javascript:" class="prev-chapter" (click)="loadData(chapter.bookId, chapter.prev)">上一章</a>
              <nz-slider
                [nzMin]="1"
                [nzMax]="catalog.length"
                (nzOnAfterChange)="changeProgress($event)">
              </nz-slider>
              <a href="javascript:" class="next-chapter" (click)="loadData(chapter.bookId, chapter.next)">下一章</a>
          </div>
          <!-- <div id="readSetSkin" class="read-set-skin">
              <ul class="btn-group" role="radiogroup">
                  <li class="btn-group-cell read-set-cell">
                      <input type="radio" id="skinDefault" name="skin" value="default" checked="" data-index="0" data-eid="mqd_R23" title="默认皮肤">
                      <label class="read-skin-default" for="skinDefault" title="默认皮肤"><svg class="icon icon-ok center"><use xlink:href="#icon-ok"></use></svg></label>
                  </li>
                  <li class="btn-group-cell read-set-cell">
                      <input type="radio" id="skinBlue" name="skin" value="blue" data-index="1" data-eid="mqd_R24" title="蓝色皮肤">
                      <label class="read-skin-blue" for="skinBlue" title="蓝色皮肤"><svg class="icon icon-ok center"><use xlink:href="#icon-ok"></use></svg></label>
                  </li>
                  <li class="btn-group-cell read-set-cell">
                      <input type="radio" id="skinGreen" name="skin" value="green" data-index="2" data-eid="mqd_R25" title="绿色皮肤">
                      <label class="read-skin-green" for="skinGreen" title="绿色皮肤"><svg class="icon icon-ok center"><use xlink:href="#icon-ok"></use></svg></label>
                  </li>
                  <li class="btn-group-cell read-set-cell">
                      <input type="radio" id="skinLight" name="skin" value="light" data-index="3" data-eid="mqd_R26" title="浅色皮肤">
                      <label class="read-skin-light" for="skinLight" title="浅色皮肤"><svg class="icon icon-ok center"><use xlink:href="#icon-ok"></use></svg></label>
                  </li>
              </ul>
          </div>
          <div id="readSetLayout" class="read-set-layout">
              <ul class="btn-group">
                  <li class="btn-group-cell read-set-cell">
                      <input type="radio" id="layoutV" name="layout" value="v" checked="" data-eid="mqd_R28">
                      <label class="read-btn-layout" for="layoutV">上下滑动</label>
                  </li>
                  <li class="btn-group-cell read-set-cell">
                      <input type="radio" id="layoutH" name="layout" value="h" data-eid="mqd_R27">
                      <label class="read-btn-layout" for="layoutH">左右滑动</label>
                  </li>
              </ul>
          </div> -->
      </div>
      <footer class="footer">
        <div class="btn-group">
            <a href="javascript:" (click)="goCatalog()">
                <i class="novel novel-catalog"></i>
                <h4 class="read-opt-footer-h">目录</h4>
            </a>
            <a href="javascript:">
                <i class="novel novel-progress" (click)="progressSet = !progressSet;pageSetting = false"></i>
                <h4 class="read-opt-footer-h">进度</h4>
            </a>
            <a href="javascript:" (click)="pageSet($event)">
                <i class="novel novel-font"></i>
                <h4 class="read-opt-footer-h">设置</h4>
            </a>

            <a href="javascript:" (click)="dayNight()">
                <i class="novel novel-night" *ngIf="!day"></i>
                <i class="novel novel-day" *ngIf="day"></i>
                <h4 class="read-opt-footer-h" *ngIf="!day">夜间</h4>
                <h4 class="read-opt-footer-h" *ngIf="day">日间</h4>
            </a>
        </div>
      </footer>
    </div>
</div>
